@import '../../const.scss';
.sidebar{
    background-color: #282828;
    transition: width 0.25s ease-out;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    
    &__sections{
      min-width: 100%;
    }

    &::-webkit-scrollbar {
      height: 5px;
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background-color: #282828;        /* цвет дорожки */
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(134, 134, 134);    /* цвет плашки */
      border-radius: 20px;       /* закругления плашки */
      border: 3px solid rgb(134, 134, 134);  /* padding вокруг плашки */
    }
    
}