.kanban{
    padding-top: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__title{
        font-size: 28px;
        text-align: center;
    }

    &__container{
        max-height: 100%;
        flex-grow: 1;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        transition: width 0.25s ease-out;
        gap: 30px;
        padding: 30px 0;
    }

    
}