@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
body, html{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
}

p,h1,h2,h3{
    margin: 0;
    padding: 0;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

*{
    box-sizing: border-box;
}

button{
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
}

input, textarea{
    border: #454545 1px solid;
    border-radius: 10px;
    outline: none;
    background-color: #202020;
    color: #fff;
    font-family: inherit;
    transition: border 0.1s;
    padding: 0 10px;

    &:focus{ 
        border: #6a6a6a 1px solid;
    }
}